# Gemini AI
GEMINI_API_KEY=
GEMINI_MODEL=

# Database
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Google Oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#Github Oauth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=